.layer {
    pointer-events: none;
}

.connection {
    stroke: #000;
    stroke-width: 2px;
    pointer-events: none;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 500ms;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.selectedConnection {
    stroke: #1590c9;
    animation: fadeIn 0.5s ease forwards, pulse 1s infinite; 
    animation-delay: 500ms;
}

@keyframes pulse {
    0%, 100% {
        stroke-width: 2px;
    }
    50% {
        stroke-width: var(--pulseWidth);
    }
}

.scoreLabel {
    font-size: 12px;
    font-weight: bold;
    fill: #000;             
    pointer-events: none;
    text-anchor: middle;      
    user-select: none;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 500ms;
    opacity: 0;
}