.node {
    width: rem(50px);
    height: rem(50px);
    border-radius: 50%;
    border: rem(1px) solid #000;
    background-color: #62c1ec;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.node:hover {
  transform: scale(1.05);
  border: rem(2px) solid #fff;
}

.selected {
  background-color: #1590c9;
  box-shadow: 0 0 8px #62c1ec;
}
  