.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: radial-gradient(circle, grey 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 40px 40px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  margin:  20px 20px auto auto;
}